@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/times-new-roman");
:root {
  --c-red: #C40000;
  --c-main: #055068;
  --c-green: #5ECCCC;
  --c-text: #333333;
  --c-white: #fff; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 0; }

body {
  margin: 0;
  padding: 0; }

html,
body {
  font-size: 16px;
  color: var(--c-main);
  background-color: var(--c-white);
  font-family: 'Noto Sans', sans-serif; }

.wrapper {
  max-width: 1200px;
  background-color: var(--c-white);
  margin: 0 auto; }

.container-c {
  max-width: 1000px;
  margin: 0 auto; }
  @media (max-width: 575.98px) {
    .container-c {
      padding: 0 22px; } }

.title-base {
  font-weight: 700;
  font-size: 28px; }

p {
  margin-bottom: 0; }

.white-space {
  white-space: pre-line; }

.ele-container-c {
  padding: 0; }
  .ele-container-c .ele-title .elementor-heading-title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }

#header {
  padding: 17px 58px; }
  #header .container-fluid {
    padding-left: 0;
    padding-right: 0;
    align-items: flex-start; }
  #header .navbar {
    padding: 0; }
    #header .navbar .navbar-brand {
      width: 123px;
      margin-right: 0;
      display: inline-block; }
      #header .navbar .navbar-brand .logo {
        width: 100%; }
      #header .navbar .navbar-brand .logo-mobile {
        width: 100%;
        display: none; }
    #header .navbar .collapse {
      padding-top: 9px; }
      #header .navbar .collapse .navbar-nav {
        margin-left: auto;
        padding-right: 18px; }
        #header .navbar .collapse .navbar-nav .menu-item > a {
          color: var(--c-main);
          padding-left: 18px;
          padding-right: 18px;
          font-size: 15px;
          text-decoration: none; }
      #header .navbar .collapse .btn-contact {
        width: 120px;
        height: 40px;
        background-color: var(--c-main);
        color: var(--c-white);
        font-size: 15px;
        font-weight: 400;
        display: inline-flex;
        border: 1px solid var(--c-main);
        border-radius: 0;
        line-height: 1;
        justify-content: center;
        align-items: center; }
        #header .navbar .collapse .btn-contact:hover {
          background-color: var(--c-white);
          color: var(--c-main); }
        #header .navbar .collapse .btn-contact:focus {
          box-shadow: unset; }
  @media (max-width: 575.98px) {
    #header {
      padding: 17px 0; }
      #header .navbar .navbar-brand .logo {
        display: none; }
      #header .navbar .navbar-brand .logo-mobile {
        display: block; }
      #header .navbar .navbar-toggler:hover {
        background-color: unset;
        box-shadow: unset; } }

#menu-mobile {
  width: 100%;
  background-color: var(--c-green-4); }
  #menu-mobile .offcanvas-header {
    justify-content: flex-end; }
    #menu-mobile .offcanvas-header button {
      color: var(--c-white);
      background-color: unset;
      border: unset; }
  #menu-mobile .offcanvas-body .navbar-nav {
    text-align: center;
    margin-bottom: 0; }
    #menu-mobile .offcanvas-body .navbar-nav .menu-item > a {
      color: var(--c-white);
      font-size: 25px;
      font-weight: 400;
      text-decoration: none;
      text-decoration: none; }
  #menu-mobile .offcanvas-body p {
    text-align: center;
    margin-bottom: 24px; }
    #menu-mobile .offcanvas-body p a {
      color: var(--c-white);
      font-size: 25px;
      font-weight: 400;
      text-decoration: none; }

#footer {
  text-align: center;
  padding: 28px 0 58px; }
  #footer .img {
    width: 265px; }
  #footer p {
    font-size: 15px;
    margin: 0;
    line-height: 24px;
    font-weight: 400;
    padding-top: 16px;
    color: var(--c-text); }
    #footer p.copy-right {
      padding-top: 60px; }

#damage .box .left .img img {
  width: 100%; }

#company .img img {
  width: 100%; }

#contact {
  background-color: var(--c-gray-2);
  padding-top: 76px;
  padding-bottom: 63px; }
  #contact .box {
    width: 639px;
    margin: 0 auto; }
    #contact .box .box-title {
      text-align: center; }
      #contact .box .box-title .title {
        margin-bottom: 37px; }
      #contact .box .box-title .desc {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 0;
        white-space: pre-line;
        margin-bottom: 25px; }
      #contact .box .box-title .ul {
        background-color: var(--c-white);
        border-radius: 4px;
        padding: 17px 13px;
        text-align: left;
        list-style-position: inside;
        margin-bottom: 38px; }
        #contact .box .box-title .ul li {
          font-size: 13px;
          line-height: 22px;
          font-weight: 400; }
    #contact .box .form .form-item {
      margin-bottom: 32px; }
    #contact .box .form .form-label {
      font-weight: 700;
      margin-bottom: 7px;
      line-height: 1; }
    #contact .box .form .form-control {
      height: 41px;
      border: 1px solid var(--c-gray-3);
      background-color: var(--c-white);
      border-radius: 4px; }
      #contact .box .form .form-control:focus {
        box-shadow: unset; }
      #contact .box .form .form-control.textarea {
        height: 122px; }
    #contact .box .form .btn {
      width: 293px;
      height: 73px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      font-weight: 700;
      color: var(--c-main);
      background-color: var(--c-gray-3);
      border-radius: 100px;
      border: unset;
      margin: 0 auto; }
      #contact .box .form .btn:hover {
        color: var(--c-gray-3);
        background-color: var(--c-main); }
  @media (max-width: 575.98px) {
    #contact {
      padding: 66px 0 56px; }
      #contact .box {
        width: 100%;
        margin: 0 auto; }
        #contact .box .box-title {
          text-align: center; }
          #contact .box .box-title .title {
            margin-bottom: 29px; }
          #contact .box .box-title .desc {
            width: 254px;
            margin: 0 auto 22px; }
          #contact .box .box-title .ul {
            padding: 17px 13px;
            padding-left: 26px;
            list-style-position: outside;
            margin-bottom: 32px; }
        #contact .box .form .form-item {
          margin-bottom: 32px; }
        #contact .box .form .form-label {
          font-weight: 700;
          margin-bottom: 7px;
          line-height: 1; }
        #contact .box .form .form-control {
          height: 41px;
          border: 1px solid var(--c-gray-3);
          background-color: var(--c-white);
          border-radius: 4px; }
          #contact .box .form .form-control:focus {
            box-shadow: unset; }
          #contact .box .form .form-control.textarea {
            height: 122px; }
        #contact .box .form .btn {
          width: 293px;
          height: 73px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
          font-weight: 700;
          color: var(--c-main);
          background-color: var(--c-gray-3);
          border-radius: 100px;
          border: unset;
          margin: 0 auto; }
          #contact .box .form .btn:hover {
            color: var(--c-gray-3);
            background-color: var(--c-main); } }
